body {
  margin: 0;
  padding: 0;
}

#book-float {
  float: left;
}

#book-image {
  width: 65px;
  height: 100px;
  float: left;
}

#comment-format {
  margin-left: 20px;
}

#comment-length {
  width: 400px;
  word-wrap: break-word;
}

#done-reading-book-image {
  width: 65px;
  height: 100px;
  float: left;  
  margin-top: 65px;
}

#header {
  background-color: #d2dfdf;
  padding: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
}

#link-float {
  float: left;
  margin-left: 20px;
}

#login {
  margin-top: 75px;
}

#left-login {
  font-size: 18px;
}

#signup {
  margin-top: 30px;
}

#signup-left {
  margin-top: 85px;
  font-size: 18px;
}

#to-read-left {
  position: fixed;
  margin-top: 200px;
  width: 100%;
  margin-left: 50px;
}

#to-read-right {
  margin-top: 80px;
  margin-left: 500px;
}

#to-read-header {
  font-size: 28px;
  margin-left: 2px;
}

#to-read-info {
  margin-left: 90px;
}

#done-reading-info {
  margin-left: 90px;
  margin-top: 1px; 
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 50;
}

.navbar-brand {
  color: white;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}

.jumbotron {

  background-image: url('bookworm-background.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  color: white;
  font-size: 140px;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
}

.link {
  margin-left: 10px;
}

.button {
  margin-left: 2px;
}

div.clickable {
  position:relative;
}

.button2 {
background-image: url('http://imgur.com/qb15Cmp');
background-repeat: no-repeat;
height: 215px;
width: 295px;
}

.button3 {
background-image: url('http://imgur.com/qb15Cmp');
background-repeat: no-repeat;
height: 215px;
width: 295px;
}

.row {
  padding: 5px;
  padding-right: 5px;
}

h1 {
  margin-left: 10px;
}

h3 {
  font-family: sans-serif;
}

h4 {
  margin-left: 10px;
}

p {
  margin-left: 20px;
}