<div class="nav">
    <div class="pull-right">
      <div class="button">
        <a href="/logout" class="btn btn-default" role="button">Logout</a>
      </div>
    </div>
    <div class="pull left">
      <h1>Bookworm</h1>
    </div>
</div>

<br/>

<div class="container-fluid">
  <div class="row">

    <% @books.each do |book| %>
      <% if book.done_reading == true %>
        <h3><%= book.title %><small>(by: <%= book.author %>)</small></h3>
        <p>
          <%= book.genre %>
        </p>
        <form method="post" action="/books/remove">
          <input type="hidden" name="book_id" value="<%= book.id %>">
          <button type="submit" class="btn btn-default">remove from book list</button>
        </form>
        <form method="post" action="/books/done">
          <button type="submit" class="btn btn-default">done reading</button>
        </form>
      <% end %>
    <% end %>

  </div>
</div>
