<div class="nav">
    <div class="pull-right">
      <div class="button">
        <a href="/logout" class="btn btn-default" role="button">Logout</a>
      </div>
    </div>
    <div class="pull left">
      <li><h1>Bookworm</h1></li>
    </div>
</div>

<br/>

<div class="container-fluid" align="center">
  <div class="row">
    <div class="col-sm-5">
      <!-- STUFF -->
      STUFF
    </div>
    <div class="col-sm-5">
      <!-- done reading list will go here -->
    </div>
  </div>
</div>