<%= partial(:'books/_nav_bar', :template_engine => :erb) %>

<h3>Welcome, <%= user_name %>!</h3>

<div class="row">
  <div class="col-sm-4">
    <div class="clickable">
      <a href="/books/new">
        <img src="add_to_reading_list.jpg"/>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="button2">
		  <a href="/books/to_read" class="btn btn-default" role="button">View your booklist.<a>
		</div>
  </div>
  <div class="col-sm-4">
    <div class="button3">
    	<a href="/books/done_reading" class="btn btn-default" role="button">Take a look at the books you have already read.<a>
    </div>
  </div>
</div>