<div class="nav">
  	<div class="pull-right">
  		<div class="button">
  			<a href="/logout" class="btn btn-default" role="button">Logout</a>
  		</div>
  	</div>
  	<div class="pull left">
  		<li><h1>Bookworm</h1></li>
		</div>
</div>

<div class="row">
  <div>header/logo goes here</div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="button">
		<a href="/books/new" class="btn btn-default" role="button">View your booklist.<a>
		</div>
  </div>
  <div class="col-sm-5">
    <div class="button">
	<a href="/books/done_reading" class="btn btn-default" role="button">Take a look at the books you have already read.<a>
</div>
  </div>
</div>