<div class="row">
  <div class="col-*-*">header/logo goes here</div>
</div>
<div class="row">
  <div class="col-*-*">
    <!-- login form + login and signup button go here -->
  </div>
  <div class="col-*-*">
    <!-- bookworm info goes here -->
  </div>
</div>